@font-face {
  font-family: 'Europa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Europa'), url('/fonts/europa.woff') format('woff2');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Europa', 'Inter', sans-serif;
  background-color: #F6F3EF;
  color: #0E0900;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: #0E0900;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(255, 0, 0, 0.4); /* Safari */   
   text-decoration-color: rgba(255, 0, 0, 0.4);;
}

img {
  max-width: 100%;
  display: block;
}

ol{
  padding-left: 10%;
}

Link{
  cursor: pointer;
}

.social-icons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.fa {
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
