@import url(//db.onlinewebfonts.com/c/23c0fcab84d99da0de762de7e220a6e1?family=Europa);
html,
body {
  padding: 0;
  margin: 0;
  font-family: Europa, sans-serif;
  background-color: #F6F3EF;
  color: #0E0900;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: #0E0900;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(255, 0, 0, 0.4); /* Safari */   
   text-decoration-color: rgba(255, 0, 0, 0.4);;
}

img {
  max-width: 100%;
  display: block;
}

ol{
  padding-left: 10%;
}

Link{
  cursor: pointer;
}